[submodule "browse.wf"]
	path = browse.wf
	url = https://github.com/calamity-inc/browse.wf.git
[submodule "warframe-languages-bin-data"]
	path = warframe-languages-bin-data
	url = https://github.com/calamity-inc/warframe-languages-bin-data.git
[submodule "warframe-public-export-plus"]
	path = warframe-public-export-plus
	url = https://github.com/calamity-inc/warframe-public-export-plus.git
